html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;
}

path {
    pointer-events: all;
    stroke: #2F2F2F;
    stroke-width: 1;
}

path:hover {
    opacity: 0.50;
    cursor: pointer;
}

.form {
    margin: 0 auto;
    padding: 60px 30px 60px 30px;

    @media (min-width: 800px) {
        max-width: 60%;
    }
}

#full-container {
    width: 100%;
    height: 100vh;
}

#us-container {
    width: 100%;
    height:100%;
}

#bottom-container {
    position: absolute;
    bottom: 20px;
    width: 100%;
}

#info-box {  
    margin: 0 auto;
    width: 80%;
    background-color: #FFF;
    border: 1px solid #e4e4e4;
    border-radius: 16px;
}

.candidate-image {
    width: 145px;
    height: 200px;
}


.bm-menu-wrap {
    z-index: 2000001!important;
}


/* Modal Content/Box */
/* The Modal (background) */
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #698DC5;
    color: white;
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
    text-align: justify;
    overflow: auto;
    height: 84%;
}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #698DC5;
    color: white;
}

/*.modal-content {
    display: block;
    z-index: 100;
    font-size: 16px;
    overflow: auto;
    background-color: #fefefe;
    margin: 40% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
}*/

/* Modal Content */
.modal-content {
    position: absolute;
    z-index: 9999999;
    background-color: #fefefe;
    padding: 0;
    top: 40%;
    left: 50%;    
    height: 50%;    
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    width: 60%;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 40%; opacity: 1}
}