html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

path {
    pointer-events: all;
}
path:hover {
    opacity: 0.50;
    cursor: pointer;
}

.form {
    margin: 0 auto;
    padding: 60px 30px 60px 30px;

    @media (min-width: 800px) {
        max-width: 60%;
    }
}

#full-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    margin: 0 auto;
}

#us-container {
    position: absolute;
    margin: 0 auto;
    top: 10%;
    width: 100%;
}

#candidates {  
    margin: 0 auto;
    width: 29%;
    height: 593px;
    float: right;
}

svg {
    float: left;

    width: 70%;    
}

#bottom-container {
    position: absolute;
    bottom: 50px;
    width: 100%;
}

#info-box {  
    margin: 0 auto;
    width: 80%;
    background-color: #FFF;
    border: 1px solid #e4e4e4;
    border-radius: 16px;
}

.candidate-image {
    width: 145px;
    height: 200px;
}
